.color {
  // .color-dark
  &-dark {
    color: $color-dark;
  }

  // .color-dark-deep
  &-dark-deep {
    color: $color-dark-deep;
  }

  // .color-dark-deep-3
  &-dark-deep-3 {
    color: $color-dark-deep-3;
  }
  
  // .color-light 
  &-light {
    color: $color-light;
  }
  
  // .color-secondary-light
  &-secondary-light {
    color: $color-secondary-light;
  }

  // .color-secondary-deep
  &-secondary-deep {
    color: $color-secondary-deep;
  }

  // .color-secondary-dark
  &-secondary-dark {
    color: $color-secondary-dark;
  }
}

.title {
  // .title-xl
  &-xl {
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include low-desktop-lg {
      font-size: 48px;
    }
  }

  // .title-md
  &-md {
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  // .title-ll
  &-ll {
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
  }
}

.text {
  // .text-xxl
  &-xxl {
    font-size: 28px;
    line-height: 114%;
    font-weight: 400;

    @include low-desktop-lg {
      font-size: 21px;
      line-height: normal;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  // .text-xxl-2
  &-xxl-2 {
    font-size: 20px;
    line-height: normal;
    font-weight: 400;
  }
  
  // .text-xl
  &-xl {
    font-size: 19px;
    line-height: 131%;
    letter-spacing: 1.9px;
  }

  // .text-lg
  &-lg {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 133%;
    letter-spacing: 0.18px;
  }

  // .text-md
  &-md {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.8px;
  }

  // .text-ll
  &-ll {
    font-family: Arial;
    font-size: 15px;
    letter-spacing: 0.6px;
  }

  // .text-sm
  &-sm {
    font-family: Arial;
    font-size: 13px;
  }
}

@for $i from 1 to 10 {
  $fw: calc($i * 100);
  .fw-#{$fw} {
    font-weight: #{$fw};
  }
}

.tt-uppercase {
  text-transform: uppercase;
}