// Container
$container-size: 1170px;
$container-gap: 58px;
$container-gap-md: 40px;
$container-gap-sm: 16px;

// Breakpoints
$breakpoint-desktop: 1600px;
$breakpoint-desktop-lg: 1480px;
$breakpoint-desktop-md: 1280px;
$breakpoint-tablet: 1024px;
$breakpoint-tablet-md: 980px;
$breakpoint-mobile: 768px;
$breakpoint-mobile-sm: 375px;

$transition-default: all 0.3s ease;

// fonts
$font-family-main: 'Neucha', Arial, sans-serif;
$font-family-numeric: 'Neucha', Arial, sans-serif;
$font-size-main: 15px;
$font-weight-main: 400;
$line-height-main: normal;

// colors
$color-light: #fff;
$color-dark: #000;
$color-dark-light: #141414;
$color-dark-deep: #312525;
$color-dark-deep-2: #212121;
$color-dark-deep-3: #353535;
$color-primary: #062D4E;
$color-primary-deep: #0C334A;
$color-secondary: #FAFAFA;
$color-secondary-deep: #808080;
$color-secondary-dark: #717171;
$color-secondary-light: #4C4C4C;
$color-secondary-light-2: #D9D9D9;
$color-warning: #B3A296;
$color-danger: #F34942;
$color-danger-deep: #D34A44;
$color-warning-light: #EBE1D7;